body{
    background-color: grey;
}
.banner{
    background-color: maroon;
    color: white;
    margin-top: 100px;
    text-align: center;
    padding: 100px 0;

}

#patrick{
    height: 100px;
    width: 100px;

}

#Mohomo{
    color: blueviolet;
    font-size: 100px;
}
.bold{
    font-weight: 900;


}.banner{
    background-color: maroon;
    color: white;
    margin-top: 100px;
    text-align: center;
    padding: 100px 0;

}

#patrick{
    height: 100px;
    width: 100px;

}

#Mohomo{
    color: blueviolet;
    font-size: 100px;
}
.bold{
    font-weight: 900;


}